.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 50vh;
    border-left: 7px solid #F25D3C;
    }
    
    .div111 {
         grid-area: 2 / 2 / 3 / 3; 
         display: flex;            /* new */
         align-items: center;      /* new */
         justify-content: center;
        }
    .div222 {
         grid-area: 2 / 3 / 3 / 4;
         display: flex;            /* new */
         align-items: center;      /* new */
         justify-content: center;
         }
    .div333 {
         grid-area: 2 / 4 / 3 / 5; 
         display: flex;            /* new */
         align-items: center;      /* new */
         justify-content: center;
        }
    .div444 { grid-area: 3 / 2 / 4 / 5;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
     }