.Skill-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    border-right: 7px solid #F25D3C;
    height: 80vh;

}

.Skill-title {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Skill1 {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
        }
    .Skill2 {
         grid-area: 2 / 3 / 3 / 4;
         display: flex;            /* new */
         align-items: center;      /* new */
         justify-content: center;
         box-shadow: 0px 5px 15px #00000014;
         }
    .Skill3 { 
        grid-area: 3 / 2 / 4 / 3;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }
    .Skill4 { 
        grid-area: 3 / 3 / 4 / 4;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }
    .Skill5 { 
        grid-area: 4 / 2 / 5 / 3;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }
    .Skill6 { 
        grid-area: 4 / 3 / 5 / 4;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }
    .Skill7 { 
        grid-area: 5 / 2 / 6 / 3;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }
    .Skill8 { 
        grid-area: 5 / 3 / 6 / 4;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
        box-shadow: 0px 5px 15px #00000014;
    }

    .checked {
        color: orange;
      }