

.wrapper {
    background: linear-gradient(to right, #F25D3C, #F25D3C 35%, white 35%, white 0%);
    height: 100vh;
    border: 9px solid #F25D3C;

    & > .logo { 
        position: absolute;
        top: 5%;
        left: 10%;

        .img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width:100 ;
            height:70;
            
        }

    }
    .pers-img {  
            position: absolute;
            top: 50%;
            left: 29%;
            transform: translate(-50%, -50%);
            border: 50px solid white;
            border-radius: 50%;
            background-color: #F25D3C;
            box-shadow: 5px 1px 11px 0px #F25D3C;

        .image-circle{
            border-radius: 50%;
            border: solid 15px #F25D3C;
        }
    }


    .pers-slogan { 
        position: absolute;
        bottom: 7%;
        left: 10%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        font-size: 1.3em;
    }
}
.pers-name {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    
    #First-name{
        color: #F25D3C;
    }
    
    #subtitle{
        display: flex;
        justify-content: center;
        font-size: 1.3em;
        font-weight: 400;
    }
}
.social-media-bar {
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);

   
    .social-media-bar-icon {
        text-orientation: sideways;
        writing-mode: vertical-rl;
        display: flex;

        :after {
            padding: 50px;
        }
    
    }
}
