footer {
    height: 20vh;
    background-color: #F25D3C;
    color: black;
    display: flex;
    align-items: center;
  }


.footer-person-name {
  position: relative;
  top: 40%;
  left: 20%;
  width: 200px;
}

.footer-socialMedia {
  position: relative;
  top: 10%;
  left: 60%;
  width: 200px;
}
