.Certificate-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    height: 70vh;
    border-right: 7px solid #F25D3C;
    border-bottom: 7px solid #F25D3C;
    }
    
    .certificate1 { 
        grid-area: 2 / 2 / 3 / 3; 
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
    }
    .certificate2 { 
        grid-area: 2 / 3 / 3 / 4;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
    }
    .certificate3 { 
        grid-area: 2 / 4 / 3 / 5;
        display: flex;            /* new */
        align-items: center;      /* new */
        justify-content: center;
    }